<footer class="text-center text-sm pb-8 px-4 md:px-0">
  © {{ site.time | date: "%Y" }} James Inman
  <div class="text-3xl font-display mt-4 mb-4"><a href="#top" class="hover:opacity-70 transition-opacity">JI.</a></div>
  Technology consultancy services are offered through Otaina Limited (company number 15019458).<br class="hidden md:block" /><span
    class="md:hidden"
  >
    &middot; </span
  >Coaching and mentoring services are offered through Wilder Otter Limited (company number 98765432).<br class="hidden md:block" /><span
    class="md:hidden"
  >
    &middot; </span
  >Both registered in England at Ground Floor, Kings House, 101-135 Kings Road, Brentwood, Essex, United Kingdom, CM14 4DR.
</footer>
<script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
