<!-- Logo and Navigation -->
<div class="grid md:grid-cols-2 gap-12 mb-20 items-center">
  <div class="text-3xl font-display">JI.</div>
  <nav>
    <ul class="flex gap-8 text-[21px] font-medium leading-[120%] tracking-[-0.03em]">
      <li>
        <a href="{{ site.baseurl }}/">
          <span
            class="hover:border-b-2 hover:border-primaryText pb-1 pr-0.5 {% if page.id == 'home' %}border-b-2 border-primaryText{% endif %}"
            >About</span
          ><span class="ml-0.25">.</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/neurodiversity-coaching-and-technology-mentoring">
          <span
            class="hover:border-b-2 hover:border-primaryText pb-1 pr-0.5 {% if page.title == 'Mentoring & Coaching' %}border-b-2 border-primaryText{% endif %}"
            >Mentoring &amp; Coaching</span
          ><span class="ml-0.25">.</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
